{% trans_default_domain "victoire" %}
{% block body %}

<div id="widget-{{slot}}" class="add-widget">
{% block form %}
    <form method="POST" action="{{path('victoire_core_widget_create', {'page': page.id,'slot':slot, 'type':'file', 'entity': entity} )}}">
        {{form_row(form)}}
        {{form_rest(form)}}
    </form>
{% endblock form %}
</div>
{% endblock body %}
