{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}
{% trans_default_domain "victoire" %}

{% block content %}
<a href="{{ file }}" target="_blank" title="{{ 'widget_file.show.link.hoverLabel'|trans({'%linkLabel%': linkLabel }) }}">
    {{ linkLabel }}
</a>
{% endblock content %}
