{% block body %}

{#

#}

<div class="vic-widget" id="widget-{{widget.id}}">
{% block actions %}{{cms_widget_actions(widget)}}{% endblock actions %}

{% block content %}
    <a href="{{widget.file.url}}">{{widget.title}}</a>
{% endblock content %}
</div>

{% endblock body %}
